footer {
    background-color: #1e1f26;
    text-align: center;
}

.copyright {
    padding: 8px;
    p{
        font-size: 14px;
        letter-spacing: 2px;
        color: rgb(219, 219, 219);
        margin: 0px;
    }
}