.navbar {
    background-color: #008ECC;
}

.navbar-menu {
    text-align: center;
}

.navbar-logo {
    font-size: 26px;
    margin: 7px;
    letter-spacing: 2px;
    font-family: 'Staatliches', cursive;
    color: white;
}